/**
 * Metabox Tabs CSS.
 */

.metabox-tabs {
	overflow: hidden;
	background: linear-gradient(90deg,#fafafa 0,#fafafa 50px,#fff 50px,#fff 100%);
}

.metabox-tabs {
	box-sizing: border-box;
}

.metabox-tabs > h2.hndle {
	background: #fff;
}

.metabox-tabs ul.metabox-tabs-nav {
	float: left;
	width: 50px;
	margin: 0;
	border-right: 1px solid #eee;
}

.metabox-tabs ul.metabox-tabs-nav,
.metabox-tabs ul.metabox-tabs-nav * {
	box-sizing: border-box;
}

.metabox-tabs ul.metabox-tabs-nav li {
	margin: 0;
}

.metabox-tabs ul.metabox-tabs-nav li:last-child {
	margin-bottom: -1px;
}

.metabox-tabs ul.metabox-tabs-nav a {
	display: block;
	position: relative;
	min-height: 45px;
	margin: 0;
	padding: 12px;
	line-height: 20px!important;
	text-decoration: none;
	border-bottom: 1px solid #eee;
	box-shadow: none;
	text-decoration: none;
}

.metabox-tabs ul.metabox-tabs-nav [aria-selected="true"] a {
	background-color: #eee;
	color: inherit;
}

.metabox-tabs ul.metabox-tabs-nav a .title {
	display: none;
}

.metabox-tabs ul.metabox-tabs-nav .dashicons {
	position: absolute;
	top: 50%;
	left: 0;
	width: 50px;
	margin-top: -0.5em;
	text-align: center;
	line-height: 1;
}

.metabox-tabs .metabox-tabs-tab {
	opacity: 0;
	height: 0;
	float: left;
	width: calc(100% - 50px);
	margin-left: -1px;
	box-sizing: border-box;
	border-left: 1px solid #eee;
}

.metabox-tabs .metabox-tabs-tab[aria-selected="true"] {
	opacity: 1;
	height: auto;
	padding: 12px;
}

.metabox-tabs .metabox-tabs-tab > * {
	max-width: 100%;
	box-sizing: border-box;
}

.metabox-tabs .metabox-tabs-tab .postbox,
.metabox-tabs .metabox-tabs-tab .inside {
	margin: 0 !important;
	padding: 0 !important;
	border: none;
	box-shadow: none;
	min-width: 0;
}

.metabox-tabs .metabox-tabs-tab button {
	display: none !important;
}

.metabox-tabs .metabox-tabs-tab h2 {
	margin-bottom: 15px !important;
	padding: 0 !important;
	border-bottom: none;
}

@media (min-width: 480px) {

	.metabox-tabs {
		background: linear-gradient(90deg,#fafafa 0,#fafafa 180px,#fff 180px,#fff 100%);
	}

	.metabox-tabs ul.metabox-tabs-nav {
		width: 180px;
	}

	.metabox-tabs ul.metabox-tabs-nav a {
		padding-left: 45px;
	}

	.metabox-tabs ul.metabox-tabs-nav a .title {
		display: inline-block;
	}

	.metabox-tabs .metabox-tabs-tab {
		width: calc(100% - 180px);
	}

	.metabox-tabs .metabox-tabs-tab h2 {
		display: none;
	}
}

@media (min-width: 850px) {

	#postbox-container-1 .metabox-tabs {
		background: linear-gradient(90deg,#fafafa 0,#fafafa 50px,#fff 50px,#fff 100%);
	}

	#postbox-container-1 .metabox-tabs ul.metabox-tabs-nav {
		width: 50px;
	}

	#postbox-container-1 .metabox-tabs ul.metabox-tabs-nav a {
		padding-left: 0;
	}

	#postbox-container-1 .metabox-tabs ul.metabox-tabs-nav a .title {
		display: none;
	}

	#postbox-container-1 .metabox-tabs .metabox-tabs-tab {
		width: calc(100% - 50px);
	}

	#postbox-container-1 .metabox-tabs .metabox-tabs-tab h2 {
		display: block;
	}
}